# fly.toml app configuration file generated for rails-example-production on 2023-05-19T11:17:37+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "rails-example-production"
primary_region = "hkg"
console_command = "/rails/bin/rails console"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  
[env]
  DEPLOYED_HOST = "rails-example-production.fly.dev"
  RAILS_ENV = "production"
  MAILER_DEFAULT_HOST = "localhost"
  MAILER_DEFAULT_PORT = "3000"
  MAILER_SENDER = "Test <noreply@nimblehq.co>"
  AVAILABLE_LOCALES = "en"
  DEFAULT_LOCALE = "en"
  FALLBACK_LOCALES = "en"
