<div class="center jumbotron mt-2 py-5 px-4">
  <h1 class="text-3xl font-bold"><%= @text %></h1>
  <h2 class="font-bold underline">Welcome to the Google Search Application!</h2>
  <p>Extracting large amounts of data from the Google search results page</p>
</div>
