<div id="<%= dom_id search_term %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Keyword:</strong>
    <%= search_term.keyword %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this search term", search_term, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this search term', edit_search_term_path(search_term), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
