name: Deploy Fly

on:
  workflow_run:
    workflows:
      - Test
    branches:
      - master
      - main
      - development
    types:
      - completed
  workflow_dispatch:

env:
  DOCKER_REGISTRY_HOST: ${{ secrets.DOCKER_REGISTRY_HOST }}
  DOCKER_REGISTRY_USERNAME: ${{ github.repository_owner }}
  DOCKER_REGISTRY_TOKEN: ${{ secrets.DOCKER_REGISTRY_TOKEN }}
  DOCKER_IMAGE: ${{ github.repository }}
  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.workflow_run.head_branch || github.ref }}

      - name: Set env BRANCH_TAG
        uses: nimblehq/branch-tag-action@1
        with:
          ref: ${{ github.event.workflow_run.head_branch || github.ref }}

      - name: Build Docker image
        run: bin/docker-prepare && docker compose build

      # - name: Push Docker image
      #   run: docker compose push web

      - name: Install Fly.io
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Deploy to Fly.io
        run: |
          if [[ $BRANCH_TAG = "latest" ]]
          then
            flyctl deploy --local-only --config ./fly.production.toml
          else
            flyctl deploy --local-only --config ./fly.staging.toml
          fi
        env:
          FLY_API_TOKEN: ${{ env.FLY_API_TOKEN }}
